.main{
    background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)),
    url(../images/apple-1838564_1920-main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 14.7% 0; 
    color: white;
}